In [2]:
import pandas as pd
import numpy as np

## Heart Failure Prediction

In [3]:
# Reading the data from file
df = pd.read_csv('data.csv', header=None,skipinitialspace=True,skiprows=1)

In [4]:
# Renaming the columns from numbers to meaningful names
df.rename(columns = {0:"age", 
                     1:"anaemia", 
                     2:"creatinine_phosphokinase",
                     3:"diabetes",
                     4:"ejection_fraction",
                     5:"high_blood_pressure",
                     6:"platelets",
                     7:"serum_creatinine",
                     8:"serum_sodium",
                     9:"sex",
                     10:"smoking",
                     11:"DEATH_EVENT"},inplace = True)

# Removing unessary data

In [5]:
# Here we are only considering features age,anaemia,diabetes,high_blood_pressure,sex,somking,death_event
# so removing other data
del df["creatinine_phosphokinase"],df["ejection_fraction"],df["platelets"],df["serum_creatinine"],df["serum_sodium"]

In [6]:
df.head()

    age  anaemia  diabetes  high_blood_pressure  sex  smoking  DEATH_EVENT
0  75.0        0         0                    1    1        0            1
1  55.0        0         0                    0    1        0            1
2  65.0        0         0                    0    1        1            1
3  50.0        1         0                    0    1        0            1
4  65.0        1         1                    0    0        0            1

## Separating data into dependent and independent variables

In [7]:
features = df.drop("DEATH_EVENT",axis = 1)

In [8]:
labels = df["DEATH_EVENT"]

## Applying the model

In [9]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size = 0.2)

In [14]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
# fitting the training data
LR.fit(x_train,y_train)

LogisticRegression()

In [15]:
y_predict = LR.predict(x_test)

In [12]:
y_predict

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [16]:
LR.score(x_test,y_test)

0.6333333333333333

In [ ]:
from tensorflow.keras.models import Sequential
tf_model = Sequential()

tf_model.add(tf.keras.layers.Dense(1))

In [3]:
!conda install nomkl

ERROR: The install method you used for conda--probably either `pip install conda`
or `easy_install conda`--is not compatible with using conda as an application.
If your intention is to install conda as a standalone application, currently
supported install methods include the Anaconda installer and the miniconda
installer.  You can download the miniconda installer from
https://conda.io/miniconda.html.